*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.image{
    background-image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.18)), url(4597150.jpg);
    background-size: cover;
    background-position: center;
    /* position: center; */
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: auto;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}
nav{
    width: 100%;
    height: 90px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.heading h1 a{
    text-decoration: none;
    width: 50%;
    color: whitesmoke;
    font-size: 38px;
    font-weight: 100;
    margin: 32px;
    font-weight: bold;
}
.heading :hover {
    color: whitesmoke
}
.anchor{
    width: 50%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.anchor a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
}
.anchor :hover {
    color: darkgrey;
}
.first{
    border-style: groove;
    border: 1px solid;
    margin-left: 200px;
    margin-top: 2cm;
    border-radius: 5px;
    color: white;
    width: 75%;
    position: absolute;
    transform: translateY(-50%);
    font-size: 38px;
    top: 50%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* text-transform: uppercase; */
}
.first h2{
    color: wheat;
}
.first h4{
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    color: darkgrey;
    margin-top: 5px;
}
.first p{
    margin-top: 15px;
}
.second{
    font-size: 20px;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    top: 92%;
    margin-left: 46%;
    color: silver;
}













